<div class="container2 container-fluid d-flex">
    <form>
        <div class="d-flex">
            <img src="../../../assets/logoo.png" alt="" width="230px" height="60px" class="mb-4">
        </div>
        <h5>Card Number</h5>
        <h6>Enter the 16-digit card number on the card</h6>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-credit-card-2-front-fill"></i></span>
            <input class="form-control form-control-lg w-75" type="number" placeholder=" 2412  -  7512  -  3412  -  3456">
          </div>
        <br>
        <div class="d-flex">
            <div class="me-3">
            <h5>CVC Number</h5>
            <h6>Enter the 3 or 4 digit number on the card</h6>                
            </div>
            <input class="form-control form-control-lg ms-auto" type="number" placeholder=" 327 ">
        </div>
        <br>
        <div class="d-flex">
            <div class="me-3">
            <h5>Expairy Date</h5>
            <h6>Enter the expairation date of the card</h6>                
            </div>
            <input class="form-control form-control-lg date me-2 ms-auto" type="number" placeholder="09" > 
            <div class="slash">/</div>
            <input class="form-control form-control-lg date ms-2" type="number" placeholder="24">
        </div>
        <br>
        <div class="d-flex">
            <div class="me-3">
            <h5>Password</h5>
            <h6>Enter your Dynamic password</h6>                
            </div>
            <input class="form-control form-control-lg ms-auto" type="password" placeholder="">
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg w-100" (click)="paynow()">Pay Now</button>

    </form>
    <div class="formm ms-auto">
        <img src="../../../assets/atmcard.png" alt=""  class="mb-4 w-100 atmcard">

        <div class="d-flex mb-4 ">
        <h5> Company </h5> <h5 class="ms-auto">PinPoint</h5>
        </div>
        <div class="d-flex mb-4 ">
        <h5> Property Id </h5> <h5 class="ms-auto">1</h5>
        </div>
        <div class="d-flex mb-5">
        <h5> Property Type </h5> <h5 class="ms-auto">House</h5>
        </div>
        <hr>
        <br>
        <h5 class="mb-3">You have to Pay</h5>
        <div class="d-flex">
            <h3>50,000 ₹/-</h3>
            <img src="../../../assets/bil.png" class=" ms-auto" style="width: 30px; height: 30px;">           
        </div>

    </div>
</div>