
.a{
  
    text-align: center;
    font-size: 20px;
}
.b, .form-label{
  
    text-align: center;
    font-size: 17px;
}
.form-control {
  
    font-weight:400;
}



.card-header{
  background-color: aliceblue;
}

.btn-primary{
  border-radius: 10px;
  color: white ;
  background-color: #3b4cb8 ;
}
.btn-primary:hover{
  background-color: whitesmoke;
  color: #3b4cb8 ;
}
.btn-secondary{
  border-radius: 10px;
}