
.a{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight:900;
}
.b{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight:900;
}
form {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    outline: none;
    border: none;
    font-weight:900;
}

.ans-button {
    padding: 10px 30px;
    background-color: rgb(58, 121, 204) ;
    color: #fff;
    border-radius: 10px;
    border: none;
  }
  
.ans-button:hover {
    background-color: #6e87b9 ;
  }

  .list{
    font-family: 'Ysabeau Office', sans-serif;
    color: #000000;
    font-weight: 700;
  }