
<header>
    <div class="logos">
    <img src="../../../assets/logoB.png" routerLink="" alt="No image" height="80" width="120">
    </div>
    
    <nav>
        <ul class="nav_links">
          <li><button routerLink="">For Sell</button></li>
          <li><button routerLink="">For Rent</button></li>
          <li><button routerLink="">New Property</button></li>
          <li><button routerLink="/contact">Contact Us</button></li>
        </ul>
        <ul class="login">
        <li><button routerLink="/login">Login/Signup</button></li>
    </ul>
		
		<li class="admin"><button routerLink="/adminlogin">Admin</button></li>
    <li class="agent"><button routerLink="/agentlogin">Agent</button></li>
    
    </nav>
</header>


<body>
	<div class="main"> 
			<div class="login1">
				<form>
					<label>Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button class="logbutton">Login</button>
				</form>
			</div>
	</div>
</body>
