
<header>
    <div class="logos">
    <img src="../../../assets/logoB.png" routerLink="" alt="No image" height="80" width="120">
    </div>
    
    <nav>
        <ul class="nav_links">
          <li><button routerLink="">For Sell</button></li>
          <li><button routerLink="">For Rent</button></li>
          <li><button routerLink="">New Property</button></li>
          <li><button routerLink="/contact" disabled style="background-color: rgb(202, 202, 202);">Contact Us</button></li>
        </ul>
        <ul class="login">
        <li><button routerLink="/login">Login/Signup</button></li>
    </ul>
    </nav>
</header>

<body>
<div class="allpage">
<form>
  <h2>Ask your Questions here!</h2>
  <h5>We will reach you in 24 hours</h5>
  <div class="logs">
  <label for="username">First Name</label>
  <input type="text" placeholder="First Name" id="First Name" required="">
  <label for="phoneNumber">Phone Number</label>
  <input type="number" placeholder="Mobile number" id="PhoneNumber" required="">
</div>
<div class="logs2">

   <label for="username">Last Name</label>
  <input type="text" placeholder="Last Name" id="Last Name" required="">

  <label for="email">Email:</label>
  <input type="text" name="email" id="email" placeholder="Email address" required="">

  </div>

  <div class="comments">
    <textarea placeholder="Write your Questions..." id="textarea" rows="3" cols="78" required=""></textarea>
  </div>
  <button routerLink="../contact">Submit</button>
</form>

</div>
</body>

<h1 style="text-align: center; margin-top: 50%; background-color: #ffffff;">Our Team</h1>

<div class="cards-container">
  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Suganya.png" height="80%"/>
      <span>SUGANYA</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=suganyaajuguu@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Vasanth.png" height="80%"/>
      <span>VASANTH</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=vasanthselvaraj410@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Susmit.png" height="80%"/>
      <span>SUSMIT</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=susmitshaw04@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Anshi.png" height="80%"/>
      <span>ANSHI</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=thakuranshi705@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Revan.png" height="80%"/>
      <span>REVAN</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=revankumar123.jpr@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Raas.png" height="80%"/>
      <span>RAAS</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=raaschatterjee11@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Bhavana.png" height="80%"/>
      <span>BHAVANA</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Subha.png" height="80%"/>
      <span>SUBHASHINI</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=subhashinichitra28@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  <div class="card">
    <div class="card-front">
      <img src="../../../assets/Laksha.png" height="80%"/>
      <span>LAKSHANA</span>
    </div>
    <div class="card-back">
      <h2>Full Stack Developer</h2>
      <p><a href="https://mail.google.com/mail/?view=cm&to=lakshana1404@gmail.com" target="_blank">Contact me</a></p>
    </div>
  </div> 

  </div>