.a, .modal-title{
  font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight:500;
}
.b{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight:700;
}