
<header>
    <div class="logos">
    <img src="../../../assets/logoB.png" routerLink="" alt="No image" height="80" width="120">
    </div>
    
    <nav>
        <ul class="nav_links">
          <li><button routerLink="">For Sell</button></li>
          <li><button routerLink="">For Rent</button></li>
          <li><button routerLink="/contact">Contact Us</button></li>
         
        </ul>
        <ul class="login">
        <li><button routerLink="/login">Login/Signup</button></li>
    </ul>
    </nav>
</header>

<div class="banner">
    <div class="intro">
    <h1>Discover the place where<br> you live happy</h1>
    <h4>Connect with more than 10 thousand renters looking for new homes <br>using our comprehensive marketing platform.</h4>
    </div>
    <form class="form" id="property-search-form">
      <input class="loc" type="text" id="location" name="location" placeholder="Enter Location" >
      <select id="property-type" name="property-type">
        <option value="" disabled selected hidden>Property Type</option>
        <option value="house">House</option>
        <option value="apartment">Apartment</option>
        <option value="condo">Condo</option>
        <option value="condo">Row House</option>
        <option value="condo">None</option>
      </select>
      <input class="amt" type="number" id="Amount" name="Amount" placeholder="Enter Amount">
      <button type="submit">Search</button>
    </form>
     <div class="container1">
    <h1>100+</h1> <h2>Property ready</h2> 
     </div>
  <div class="container2">
    <h1>50+</h1> <h2>Happy Customers</h2>
  </div>
</div>


<div class="banner1">
  <div class="row">
      <div class="col-lg-4 abc">
  <h5>WHY CHOOSE PINPOINT?</h5>
  <h1>Provides the most complete list of properties</h1>
</div>
<div class="col-lg-6 ms-auto">
  <h3>Find the ideal property that is most suitable for you. Starting from houses for sale that are minimalist, apartments for sale that are exclusive.</h3>
</div>
</div>

<div class="buttn">
  <div class="row1">
  <button type="button" class="btn btn-primary btn-lg" routerLink="login"><i class="bi bi-house-door-fill one"></i><h1>Find your dream house</h1><p>Many ads for apartments and houses for sale in various locations. Tap your finger on the screen to open the door of your dream house from here.</p></button>
  <button type="button" class="btn btn-primary btn-lg" routerLink="login"><i class="bi bi-houses-fill one"></i><h1>Find a place of business</h1><p>Renting a place of business and buying and selling shops made easier. Meet your business and investment needs faster.</p></button>
  <button type="button" class="btn btn-primary btn-lg" routerLink="login"><i class="bi bi-envelope-plus-fill one"></i><h1>Smart feature rich</h1><p>There are thousands of property ads. Everything you can explore and plan using smart features like the Mortgage Calculator.</p></button>
</div>
</div>




