
.banner{
    background-image: url(../../../assets/Untitled1.jpg);
    height: 673px;
    background-position: center top;
    background-size: cover;
}
.intro h1{
    font-weight: 600;
    padding-top: 130px;
    margin-left: 65px;
    font-size: 50px;
    line-height: 65px;
}
h4{
    font-weight: 110px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 30px;
    margin-left: 65px;
    line-height: 35px;
}
.search{
    margin-right: 61%;
}