<div class="container-fluid footer">
    <div class="row ms-auto">
        <div class="col-lg-6">
            <h1>PinPoint</h1>
            <p>The Key to your Properties</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">
            <a href="https://mail.google.com/bi-facebook/?view=cm&to=facebook.com"  target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://mail.google.com/bi-whatsapp/?view=cm&to=suganyaajuguu@gmail.com"  target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&to=suganyaajuguu@gmail.com"  target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&to=suganyaajuguu@gmail.com"  target="_blank"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
        
    </div>
    
</div>
