.container2{
    width: 30%;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 10% 35%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
    h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      color: #1d242b;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      text-align: center;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: 50px;
  }

  .btn{
    background-color: #3b4cb8;
    color: white; 
    border-radius: 10px; 
    margin: 0px 17.5%;
}
.btn:hover{
    background-color:whitesmoke ;
    color: #3b4cb8;  
}
