@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

.container2{
    width: 97%;
    height: 100%;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 1.5% 1.5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

*{
    font-family: 'Manrope', sans-serif;
}

.form-control:focus{
    border: 2px bold;
    border-color: #3b4cb8;
    box-shadow: none;
  }