
    <app-adminnavbar></app-adminnavbar>
    <div class="table-responsive container2">
        <h2 class="list">Inquiries from customers...</h2>
      <br>
    <table class="table">
      <thead>
        <tr class="a">
          <th scope="col">Sl no.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Regarding</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
    <tbody>
        <tr class="b"  *ngFor="let item of inquirylist">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.question}}</td>
          <td>{{item.date}}</td>
          <td> 
            <button *ngIf="item.status==='Not Answered'" type="button" class="ans-button" data-bs-toggle="modal" data-bs-target="#inquiryModal" (click)="onedit(item.id)">Answer</button>
            <button *ngIf="item.status==='Answered'" type="button" class="ans-button" data-bs-toggle="modal" data-bs-target="#inquiryModal" (click)="onedit(item.id)">Edit</button>
            
          </td>
        </tr>
      </tbody>
    </table>
    </div>


    <div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel">Answer Here !</h1>
          </div>
          <div class="modal-body">
                  <div class="card p-0">
                    <div class="card-header">
                      <h5>{{inquiry.question}}</h5>
                    </div>
                    <div class="card-body ">
                      <p class="text-muted">Raised by : {{inquiry.name}}</p>
                      <p class="text-muted">Raised at : {{inquiry.date}}</p>
                    </div>
                  </div>
                  <br>
                  <div class="answer">
                      <label for="inputAddress" class="form-label">Answer : </label>
                      <textarea type="text" class="form-control" [(ngModel)]="inquiry.answer" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
          </div>
          <div class="modal-footer">
           <div class="close"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
            <button type="button" class="btn btn-primary" (click)="onSubmit()"  data-bs-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>



    <!-- <div class="col-md-12">
      <label class="form-label">Name : </label>
      <input type="text" class="form-control" [(ngModel)]="inquiry.name" [ngModelOptions]="{standalone: true}" disabled>
  </div>
  <div class="col-md-12">
      <label class="form-label">Email : </label>
      <input type="text" class="form-control" [(ngModel)]="inquiry.email" [ngModelOptions]="{standalone: true}" disabled>
    </div>
    <div class="col-md-12">
        <label class="form-label">Date : </label>
        <input type="text" class="form-control" [(ngModel)]="inquiry.date" [ngModelOptions]="{standalone: true}" disabled>
    </div>
  <div class="col-md-12">
      <label class="form-label">Question : </label>
      <input type="text" class="form-control" [(ngModel)]="inquiry.question" [ngModelOptions]="{standalone: true}" disabled>
  </div> -->