
.container2{
    width: 97%;
    height: 100%;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 1.5% 1.5%;
    box-shadow:none;
}
.border{
    display:grid;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
    align-items:center;
    border:1px solid black;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-fluid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 15vh 30vh 40vh;
    gap: 20px;
    grid-template-areas: 
    "t t t t "
    "s sd u a"
    "o o r r";
}

.total{
    grid-area:t;
    background-color: aliceblue;
}

.sale{
    grid-area:s;
}

.sold{
    grid-area: sd;
}
.user{
    grid-area: u;
}
.agent{
    grid-area: a;
}

.overview{
    grid-area:o;
}

.revenue{
    grid-area:r;
}

.progress{
    width: 95%;
}

.fs{
   text-align: center;
   font-size:65px;
   margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .container-fluid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 15vh 30vh 40vh;
        gap: 20px;
        grid-template-areas:
        "t t t t"
        "s s sd sd"
        "u u a a"
        "o o o o"
        "r r r r";
    }
}

.cut{
    text-align: start;
}

