<app-adminnavbar></app-adminnavbar>
<div class="container2">
    <div class="dash ps-3">
        <h2>Dashboard</h2>
        <h6>Hey {{name}}, Welcome back.</h6>
    </div>
    <br>
    <div class="container-fluid mx-0 w-100">
            <div class="total border d-flex">
                <img class="img" src="../assets/h.png" style="height: 80px; width: 130px; margin-right: 20px;" alt="...">
                <div class="tag w-100 ms-2">
                    <h4 class="mt-2">Total Properties</h4>
                    <div class="progress" role="progressbar">
                        <div class="progress-bar" style="width: 25%; background-color:#3b4cb8 ;"></div>
                    </div>
                    <div>
                        <h5 class="mt-2">432 more to break last month record</h5>
                    </div>
                </div>
                <h1 class="cut me-4">{{propertylist.length < 10 ? "0" + propertylist.length : propertylist.length}}</h1>
            </div>
            <div class="sale border">
                <h3 class="m-0">Properties on Sale</h3>
                <div class="salee">
                    <h1 class="fs" routerLink="/editproperty">{{propertylist.length < 10 ? "0" + propertylist.length : propertylist.length}}</h1>
                </div>
            </div>
            <div class="sold border">
                <h3 class="m-0">Total Inquiries</h3>
                <div class="soldd">
                    <h1 class="fs" routerLink="/query">{{inquirylist.length < 10 ? "0" + inquirylist.length : inquirylist.length}}</h1>
                </div>
            </div>
            <div class="user border">
                <h3 class="m-0">Total no. of Users</h3>
                <div class="userss">
                    <h1 class="fs" routerLink="/editusers">{{userslist.length < 10 ? "0" + userslist.length : userslist.length}}</h1>
                </div>
            </div>
            <div class="agent border">
                <h3 class="m-0">Total no. of Agents</h3>
                <div class="agentss">
                    <h1 class="fs" routerLink="/editusers">{{agentslist.length < 10 ? "0" + agentslist.length : agentslist.length}}</h1>
                </div>
            </div>
            <div class="overview border">
                <div class="view">
                <h2 class="m-0" style="text-align: center;">OverView</h2>
                <img src="../../assets/chart.png" style="margin-top: 40px;">
            </div>
            </div>
            <div class="revenue border">
                <div class="rev">
                    <h3 class="m-0">Past five year's Revenue</h3>
                    <img src="../../assets/revanue.png">
                </div>
            </div> 
</div>