div{
    margin: 10px;
    width: 700px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:bold;
    align-items: center;
    text-align: center;
}
button{
    background-color: #212A3E;
    color: aliceblue;
}
button:hover{
background-color: #394867;
}
span{
    background-color:blanchedalmond ;
    color:black;
    font-weight: bold;
    border-color: blue;
}
input{
    border-color: black;
    width: 700px;
}
p{

    color: #1877f2;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
    }
