.a{
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight:900;
}
.b{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight:900;
}

.delete-button {
    padding: 10px 30px;
    background-color: #212A3E ;
    color: #fff;
    border-radius: 10px;
    border: none;
  }
  
.delete-button:hover {
    background-color: #d60202 ;
  }

.user{
    font-family: 'Abel',sans-serif;
    width: 50%;
    padding: 20px;
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: x-large;
    font-weight: 900;
  }
.agent{
    font-family: 'Abel',sans-serif;
    width: 50%;
    padding: 20px;
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: x-large;
    font-weight: 900;background-color: white;
  }

button:hover{
    background-color: #6e87b9;
  }

.option{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: white;
}