
.container2{
    width: 97%;
    height: 100%;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 1.5% 1.5%;
    box-shadow:none;
}
.border{
    display:grid;
    border:1px solid black;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
}


.btn-primary{
    background-color: #3b4cb8;
    color: white;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: whitesmoke;
    color: #3b4cb8;
}
.btn-danger,.btn-secondary{
    border-radius: 10px;
}
.bg{
    background-color: aliceblue;
    border-radius: 15px;
}

.card-con{
    justify-content: center;
}

.bg:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-fluid{
    border-radius: 15px;
}

.head{
    padding: 25px;
}

.upload{
    padding: 8px;
    justify-content: center;
}

h4{
    font-family: 'Exo 2',sans-serif;
    padding: 16px;
}

