form {
    width: 35%;
    margin: 9% 32.5%;
    position: relative;
    padding: 66px 61px;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn{
    background-color: #3b71ca;
}

.stg{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

h4{
    text-align: center;
}